version: 2
updates:
    -   package-ecosystem: "github-actions"
        directory: ".github/workflows"
        schedule:
            interval: "weekly"
        groups:
            dependencies:
                patterns:
                    - "*"

    -   package-ecosystem: "composer"
        directory: "."
        schedule:
            interval: "weekly"
        groups:
            dependencies:
                patterns:
                    - "*"

    -   package-ecosystem: "composer"
        directory: "vendor-bin/php-cs-fixer"
        schedule:
            interval: "weekly"
        groups:
            dependencies:
                patterns:
                    - "*"

    -   package-ecosystem: "composer"
        directory: "vendor-bin/psalm"
        schedule:
            interval: "weekly"
        groups:
            dependencies:
                patterns:
                    - "*"

    -   package-ecosystem: "composer"
        directory: "vendor-bin/rector"
        schedule:
            interval: "weekly"
        groups:
            dependencies:
                patterns:
                    - "*"
