{
    "$schema": "./vendor/infection/infection/resources/schema.json",

    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "dist/infection.log"
    },
    "tmpDir": "dist/infection",
    "mutators": {
        "@default": true,
        "MBString": false,
        "global-ignore": [
            "Fidry\\Makefile\\Test\\BaseMakefileTestCase::getNonDebugMakeFlags"
        ],

        "CastString": {
            "ignore": [
                // Testing that getenv() does not return a string is difficult there.
                "Fidry\\Makefile\\Test\\BaseMakefileTestCase::getNonDebugMakeFlags"
            ]
        },
        "FunctionCallRemoval": {
            "ignore": [
                "Fidry\\Makefile\\Test\\BaseMakefileTestCase::executeCommand",
                "Fidry\\Makefile\\Test\\BaseMakefileTestCase::executeInDirectory"
            ]
        },
        "GreaterThan": {
            "ignore": [
                "Fidry\\Makefile\\Test\\Constraint\\SinglePrerequisitePhony::checkHasOnePrerequisite"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "Fidry\\Makefile\\Test\\BaseMakefileTestCase::getTimeout"
            ]
        },
        "PublicVisibility": false,
        "UnwrapArrayValues": {
            "ignore": [
                "Fidry\\Makefile\\Parser::parseLine"
            ]
        },
        "UnwrapFinally": {
            "ignore": [
                "Fidry\\Makefile\\Test\\BaseMakefileTestCase::executeInDirectory"
            ]
        }
    }
}
