name: "Code Style"

on:
    push:
        branches:
            - "main"
    pull_request: null
    schedule:
        # Do not make it the first of the month and/or midnight since it is a very busy time
        - cron: "* 10 5 * *"

jobs:
    php-cs-fixer:
        runs-on: "ubuntu-latest"
        name: "PHP-CS-Fixer ${{ matrix.php }}"
        strategy:
            fail-fast: true
            matrix:
                php:
                    # Should be the lowest supported PHP version.
                    # To also adjust the PHP version in the following files:
                    # - vendor-bin/php-cs-fixer/composer.json
                    # - vendor-bin/rector/composer.json
                    - "8.3"

        steps:
            -   name: "Check out repository code"
                uses: "actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5" # v4.3.1

            -   name: "Setup PHP"
                uses: "shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1" # 2.36.0
                with:
                    php-version: "${{ matrix.php }}"
                    tools: "composer"

            -   name: "Install Composer dependencies"
                uses: "ramsey/composer-install@1919f6c305aea6ab10e6181a8ddf72317ad77e0e" # 2.3.1

            -   name: "Install PHP-CS-Fixer Composer dependencies"
                if: "! matrix.skip_static_checks"
                uses: "ramsey/composer-install@1919f6c305aea6ab10e6181a8ddf72317ad77e0e" # 2.3.1
                with:
                    working-directory: "vendor-bin/php-cs-fixer"

            -   name: "Lints CS"
                run: "make cs_lint"


    # This is a "trick", a meta task which does not change, and we can use in
    # the protected branch rules as opposed to the individual tests which
    # may change regularly.
    validate-tests:
        name: Code Style Status
        runs-on: ubuntu-latest
        needs:
            - php-cs-fixer
        if: always()
        steps:
            - name: Successful run
              if: ${{ !(contains(needs.*.result, 'failure')) }}
              run: exit 0

            - name: Failing run
              if: ${{ contains(needs.*.result, 'failure') }}
              run: exit 1
