name: "Static Analysis"

on:
    push:
        branches:
            - "main"
    pull_request: null
    schedule:
        # Do not make it the first of the month and/or midnight since it is a very busy time
        - cron: "* 10 5 * *"

jobs:
    psalm:
        runs-on: "ubuntu-latest"
        name: "Psalm ${{ matrix.php }}"
        strategy:
            fail-fast: true
            matrix:
                php:
                    # Should be the highest supported PHP version.
                    - "8.5"

        steps:
            -   name: "Check out repository code"
                uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2

            -   name: "Setup PHP"
                uses: "shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1" # 2.36.0
                with:
                    php-version: "${{ matrix.php }}"
                    tools: "composer"

            -   name: "Install Composer dependencies"
                uses: "ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520" # 3.1.1

            -   name: "Install Psalm Composer dependencies"
                if: "! matrix.skip_static_checks"
                uses: "ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520" # 3.1.1
                with:
                    working-directory: "vendor-bin/psalm"

            -   name: "Run Psalm"
                run: "make psalm"

    # This is a "trick", a meta task which does not change, and we can use in
    # the protected branch rules as opposed to the individual tests which
    # may change regularly.
    validate-tests:
        name: Static Analysis Status
        runs-on: ubuntu-latest
        needs:
            - psalm
        if: always()
        steps:
            - name: Successful run
              if: ${{ !(contains(needs.*.result, 'failure')) }}
              run: exit 0

            - name: Failing run
              if: ${{ contains(needs.*.result, 'failure') }}
              run: exit 1
